.taskContainer {
  margin: 64px auto 0;
  max-width: 736px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.taskItemContainer {
  display: flex;
  align-items: center;
  gap: 16px;

  background-color: var(--gray-400);
  border: 1px solid var(--gray-500);
  border-radius: 8px;
  padding: 16px;
}

.taskItemContainer:hover {
  border: 1px solid var(--purple-500);
}

.removeIcon {
  color: var(--gray-300);
}

.removeIcon:hover {
  color: var(--red-500);
}

.titleTask {
  flex: 1;
}

.titleTaskCompleted {
  flex: 1;
  text-decoration: line-through;
}

.checkbox {
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  background: transparent;
  border: 2px solid var(--blue-500);
  border-radius: 50%;
}

.checkbox:checked {
  accent-color: var(--purple-500);
  background: var(--purple-500);
  border: 2px solid transparent;
  position: relative;
}
.checkbox:checked::before {
  content: "✔️";
  content: "\002714";
  display: flex;
  justify-content: center;
}
